# Адрес основной панели/сервера
WAREHOUSE_SERVER_URL=https://example.com

# Локальная печать
BARCODE_PRINT_SUMATRA=C:\Program Files (x86)\SumatraPDF\SumatraPDF.exe

# Принтер этикеток (если пусто — принтер по умолчанию)
BARCODE_PRINT_PRINTER=
BARCODE_PRINT_SETTINGS=noscale,portrait,disable-auto-rotation,paper=47mm x 25mm
# Явные настройки этикеток (если заданы, имеют приоритет над BARCODE_PRINT_PRINTER/SETTINGS)
# BARCODE_PRINT_PRINTER_LABEL=
# BARCODE_PRINT_SETTINGS_LABEL=noscale,portrait,disable-auto-rotation,paper=47mm x 25mm

# Принтер А4
# BARCODE_PRINT_PRINTER_A4=
# BARCODE_PRINT_SETTINGS_A4=paper=A4,portrait

# Интервал автообновления заданий, секунд
REFRESH_SECONDS=30
