# Адрес основной панели/сервера
WAREHOUSE_SERVER_URL=https://example.com

# Локальная печать
BARCODE_PRINT_SUMATRA=C:\Program Files (x86)\SumatraPDF\SumatraPDF.exe
BARCODE_PRINT_PRINTER=
BARCODE_PRINT_SETTINGS=noscale,portrait,disable-auto-rotation,paper=47mm x 25mm

# Интервал автообновления заданий, секунд
REFRESH_SECONDS=30
